/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    .banner-area img {
      object-fit: cover;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
.navbar-collapse {
  text-align: center;
}

.banner-suport {
  position: absolute;
  bottom: -55px;
  left: 0;
  right: 0;
}

.banner-box {
  padding-top: 20px;
  width: 32%;
  height: 140px;
}

.banner-box i {
  font-size: 100%;
}

.banner-box h3 {
  font-size: 11px;
  padding-top: 5px !important;
}

.banner-box p {
  font-size: 8px !important;
  padding: 3px !important;
}




.wordp-text h2 {
  font-size: 21px;
}

.wordp-img {
  padding-top: 29px;
}

.sub-area img {
  height: 420px;
  object-fit: cover;
}

.sub-area::before {
  height: 420px;
}

.sub-text h3 {
  font-size: 21px;
}

.sub-text p {
  font-size: 15px;
}

.sub-input button {
  background: #505cfd;
  color: #fff;
  width: 220px;
  height: 39px;
  margin-left: 0px;
  margin-top: 10px;
}

.sub-input input {
  margin-top: 10px;
}

.sub-text p {
  padding-bottom: 10px !important;
}

/*****/

.servc-card {
  margin-bottom: 25px;
}


/*****/

.card {
  margin: 15px 0px;
}


/**/
.review-area {
  line-height: 23px;
}

.review-text i {
  font-size: 85% !important;
}

.font2-sz {
  font-size: 15px !important;
}
.respon-fz {
  font-size: 9px !important;
}

p {
  margin-bottom: 0px !important;
}


/**/

.blog-card {
  width: 310px !important;
  margin: 8px 1rem;
}



/***/
.carousel {
  width: 83%;
  height: 290px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  }